* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#camp-card {
    padding: 3vh 0;
}

#camp-card-heading {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.card {
    width: 22%;
    margin: 15px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

.card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    color: #666;
}

@media (max-width: 768px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
    }
}

.navbar {
    position: fixed;
    /* Make the navbar fixed */
    top: 0;
    /* Stick to the top */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 70, 135);
    padding: 2px 20px;
    z-index: 1000;
    width: 100%;
}

.logo-image {
    height: 60px;
    width: auto;
}

/* Navbar links styling */
.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    ;
}

/* Hover effect on links */
.nav-links a:hover {
    background-color: #f0f0f0;
    color: rgb(0, 70, 135);
    border-radius: 5px;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 15px;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
    }

}

.slider {
    margin-top: 68px;
    overflow: hidden;
    width: 100%;
    height: 650px;
    position: relative;
}

.slider-inner {
    display: flex;
    animation: slide 20s infinite;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}


@keyframes slide {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-100%);
    }

    30% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    70% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-400%);
    }

    90% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(0);
    }
}


/* overlay */
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 55%;
    background-color: rgba(0, 0, 0, 0.388);
    border-radius: 8px;
    /* Semi-transparent background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay h2 {
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    color: #e7e6e6;
}


.overlay p {
    max-width: 600px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}


/* Styling for the client logos section */
#partners {
    padding: 70px;
    background-color: #f2f0ef;
    background-color: #ffffff;
    /* Background color for the section */
    text-align: center;
    width: 98vw;
}

#heading {
    margin-bottom: 20px;
    font-size: 35px;
    padding: 0 0 4vh 0;
    font-family: "Montserrat", sans-serif;
}

.logos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    /* Create a responsive grid */
    gap: 20px;
    /* Space between logos */
    justify-items: center;
    /* Center logos in each grid cell */
    width: 100%;
    margin: 0 auto;
}

.logos a {
    display: inline-block;
    width: 120px;
    height: 120px;
}

.logos img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Ensures logos fit within the grid area without distortion */
    transition: transform 0.3s ease-in-out;
    /* Smooth hover effect */
}

.logos a:hover img {
    transform: scale(1.1);
    /* Slight zoom effect on hover */
}


/* GET IN TOUCH */
#get-in-touch .container {
    background-image: url('IMAGES/home/2.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 50px;
}

.content {
    background-color: rgba(0, 0, 0, 0.388);
    padding: 20px;
    max-width: 600px;
    text-align: right;
}

h1 {
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: rgb(179, 179, 179);
}

.cta-button {
    background-color: rgb(0, 70, 135);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #ffffff;
    color: rgb(0, 70, 135);
    transform: scale(1.1);
}

footer h4 {
    margin: 3vh 0;
}

footer li {
    margin: 8px 0;
}

#footer-logo {
    size: 10vh;
}

#slider-button {
    background-color: rgb(0, 70, 135);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

#slider-button:hover {
    background-color: #ffffff;
    color: rgb(0, 70, 135);
    transform: scale(1.1);
}

/* ACHIEVEMENT */

.achievement {
    background-image: url(IMAGES/4877010.jpg);
    padding: 50px 0;
    text-align: center;
}

span {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
    color: black;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #000000;
    line-height: 1.6;
}

#recognition{
    margin-top: 60px;
    font-size: 35px;
    padding: 0 0 4vh 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

/* Styling for the certificates section */
.appreciation {
    display: flex;          
    justify-content: center; 
    gap: 200px;              
    padding: 20px;      
    margin-bottom: 30px; 
}

/* Styling for individual certificates */
.certificate {
    width: 300px;                 
    height: auto;                  
    border: 20px solid #f0f0f0;     
    border-radius: 10px;          
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.certificate1{
    width: 550px;
    border: 20px solid #f0f0f0;     
    border-radius: 10px;  
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.stat {
    text-align: center;
    margin: 0 40px;
}

.stat h2 {
    font-size: 48px;
    color: #002366;
    /* Dark blue color */
    margin-bottom: 17px;
}

.stat p {
    font-size: 18px;
    font-weight: 400;
}

.map {
    margin-top: 20px;
}

.map img {
    width: 200px;
    height: auto;
}

/* Director */

.profile-card {
    padding: 20px;
    
    width: 100%; 
    color: black;
    margin: 0 40px;
}
.description {
    font-size: 1em;
    color: #666;
    margin-top: 10px;
    line-height: 1.6;
    margin-bottom: 8px;
}

#director{
    color: black;
}

#narender{
    font-size: 1em;
    font-weight: 500;
}

#director-section {
    background-color: rgb(248 248 248);
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    height: 60vh;
    align-items: center;
}

#dir-img{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 200px;
}

#dir-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* FOOTER */
#hyper{
    color: white;
    font-size: 10px;
}